
.header {
	text-align: center;
}


.logo {
}

.nav {
	margin-top: 2em;
	margin-bottom: 1em;
}

.nav > div {
	margin: 0;
	padding: 0;
}

.location {
	border: 3px solid white;
	border-radius: 10px;
	height: 200px;
	padding: 1em;
	background-color: orange;
	color: white;
	text-align: center;
	font-family: helvetica;
}

span a {
	color: #952c25;
	font-weight: bold;
	font-family: helvetica;
}

a :hover {
	color: #95a756;
}

.blurb {
	text-align: left;
	padding: 1em;
	/*background-color: #cadd75;*/
	border-radius: 10px;
	border: 3px solid white;
	color: #96a556;
	font-family: 'The Girl Next Door';
	font-size: 1.2em;
}

.button {
	background-color: #952c25;
	border-radius: 10px;
	border: 2px solid white;
	font-size: .9em;
	font-family: 'The Girl Next Door';
	width: 100%;
	margin: 0;
}

.button:hover {
	background-color: #95a756; 
}

.footer {
	text-align: center;
}

/*MENU PAGE*/

.menu {
	text-align: center;
}

/*MAP PAGES*/

.map {
	text-align: center;
	/*border: 1px solid black;*/
}

.address {
	font-family: 'The Girl Next Door';
	text-align: center;
	margin-bottom: 1em;
	margin-top: 1em;
	background-color: #95a756;
	height: 160px;
	padding: 1em;
}
